<section id="support" class="support-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="support-image">
                    <div class="row">
                        <div>
                            <div>
                                <a href="https://www.autismspeaks.org/">
                                    <h1>Autism Speaks</h1>
                                </a>
                                <a href="https://www.autismspeaks.org/autism-help-and-information"> <img src="assets/img/support-img4.png" alt="image"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="followers-engagement-rate">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-6">
                            <h3><span class="odometer" data-count="204">00</span><br>Million People</h3>
                        </div>

                        <div class="col-lg-6 col-md-6 col-6">
                            <h3><span class="odometer" data-count="50">00</span><br>States</h3>
                        </div>

                        <div>
                            <p>Autism Speaks is a great orgainzaiton to get stated with if you recently just had a new diagonsed of Autism with your child or other family members. The Autism Response Team (ART) is an information line for the autism community.
                                Our team members are specially trained to provide personalized information and resources to people with autism and their families. How to contact ART Call our toll-free number or send us an email – we’re available Monday
                                through Friday between 9 a.m. and 5 p.m. in all time zones. Live chat is also available between 9 a.m. and 7 p.m. ET. Your call will be routed to the team member for your region. We also have a dedicated Spanish language
                                toll-free number. 1-888-AUTISM2 (1-888-288-4762) En Español: 1-888-772-9050 help@autismspeaks.org
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="support-content">
                    <span class="sub-title"><a href="https://opwdd.ny.gov/contact-us"><h2>Support Services </h2></a></span>


                    <div class="support-content-inner instagram-support-content">
                        <a href="https://opwdd.ny.gov/">
                            <h5>Office for People with Developmental Disabilities</h5>
                        </a>

                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-5">
                                <div class="support-text">
                                    <span><h4>Meeting Your Needs With OPWDD Services</h4></span>

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-7">
                                <div class="support-item">
                                    <div class="support-header">
                                        <div class="count-box"><span class="count-text" data-speed="2000"></span></div>
                                        <a href="https://opwdd.ny.gov/types-services/respite-services">Resite Services</a>
                                    </div>
                                    <div class="support-bar">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="95.5"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="support-item">
                                    <div class="support-header">
                                        <div class="count-box"><span class="count-text" data-speed="2000"></span></div>
                                        <a href="https://opwdd.ny.gov/types-services/housing">Housing</a>
                                    </div>
                                    <div class="support-bar">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="80.2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="support-item">
                                    <div class="support-header">
                                        <div class="count-box"><span class="count-text" data-speed="2000"></span></div>
                                        <a href="https://opwdd.ny.gov/types-services/day-services">Day Services</a>
                                    </div>
                                    <div class="support-bar">
                                        <div class="bar-inner">
                                            <div class="bar progress-line" data-width="70.6"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="support-content-inner instagram-collaborations-content">
                        <h5>Other Support Services</h5>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-collaborations-box">
                                    <a href="https://www.stmaryskids.org/contact-and-locations/"><img src="assets/img/collaborations-img3.png" alt="image"></a>
                                    <a href="https://www.stmaryskids.org/">
                                        <h3>St Mary's Kids</h3>
                                    </a>
                                    <p>St. Mary’s Hospital for Children is a total-healing environment providing a continuum of programs and services and the highest level of support to children with medically complex conditions. Children and their families
                                        come to St. Mary’s to receive exceptional care, learn to manage their condition, and achieve a better quality of life. I use St. Mary's Kids for their feeding program for my son's feeding issues.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-collaborations-box">
                                    <a href="https://www.nyfac.org/"> <img src="assets/img/collaborations-img4.png" alt="image"> </a>
                                    <a href="https://www.nyfac.org/about-us/">
                                        <h3>New York Families for Autistic Children</h3>
                                    </a>
                                    <p>NYFAC was launched by five families out of a small house in Queens, New York in 1999. For over two decades we’ve been passionate about supporting families and our community.Empowering the people we support and their
                                        families remains at the heart of our agency. Through government partnerships we deliver a range of services that are individualized, and person-centered.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>