<section id="about" class="about-area pb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">

                <div class="about-image">
                    <img src="assets/img/about-img1.jpg" class="main-image" alt="image">
                    <div class="shape">
                        <img src="assets/img/about-shape1.png" alt="image">
                        <img src="assets/img/about-shape2.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">About Me</span>
                    <h2>My name is Denisse and I am a single mother to a 4 y/o with ASD</h2>

                    <p>I have started to notice some signs of ASD in Jackson as early as when he was 7 months old. When I brought it up to his doctor, she stated he is too young to tell if or to diagnose with ASD, if it's even that. At that time Jackson
                        was already receiving therapy through Early Interventions and with their help I was able to get my son evaluated by the time he was a year old and then diagnosed at a year and half, which is the earliest that children can be seen
                        and evaluated by a psychologist.</p>
                    <p>You are not alone in this Journey; I know I did feel alone however there are many resources and agencies out there that can help.</p>

                    <div class="btn-box">
                        <a href="https://www1.nyc.gov/site/doh/health/health-topics/early-intervention.page" class="default-btn">Find More Information about Early Interventions Here</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
