<section class="video-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="video-content">
                    <span class="sub-title">Showreel</span>
                    <h2>“Just Like You-Autism” </h2>
                    <p> The MidAmerica Emmy award winning, “Just Like You - Autism” launches an exciting campaign that calls our communities, our kids and the world to learn, understand and accept those living with autism. JLY-Autism harnesses the power of
                        film to connect and create empathy in others in an unprecedented way. The film's documentary techniques capture the real life stories of 3 children and their best friends/sibling. They explain their lives with autism in relatable
                        everyday scenes.
                        <a href="https://www.youtube.com/watch?v=S0w6carvS8k" class="popup-youtube video-btn"><i class="flaticon-play"></i> Watch Video</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="video-image">
                    <a href="https://www.youtube.com/watch?v=S0w6carvS8k"><img src="assets/img/video-img1.png" alt="image"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>