<section id="resouces" class="resouces-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Resouces</h2>
            <p>Here are some resources, supplies and books that help me get started on our Journey with Autism.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-resouces-box">
                    <h3>TACA</h3>
                    <span class="sub-title d-block">The Autism Community in Action</span>
                    <img src="assets\img\resouces-img.png">
                    <a href="https://tacanow.org/family-resources/" class="link">Family Resouces</a>
                    <div class="line"></div>
                    <p>The Autism Community in Action or TACA for short and how most people refer to them, is a great starting point for families who are not sure where to start. They have an amazing free guidebook that anyone can order and they also have
                        a great mentorship program that I myself am apart of and I was paired with a great mentor.<br><br><br><br></p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-resouces-box">
                    <h3>Nemechek</h3>
                    <span class="sub-title d-block">The Nemechek Protocol for Autism</span>
                    <img src="assets\img\resouces-img2.png">
                    <a href="https://www.amazon.com/NEMECHEK-PROTOCOL-AUTISM-DEVELOPMENTAL-DISORDERS/dp/1982067691/ref=sr_1_1?crid=Q70S2RIGFMFZ&dchild=1&keywords=nemechek+protocol&qid=1620106802&sprefix=nemache%2Caps%2C155&sr=8-1" class="link">Special Diets that help with functioning</a>
                    <div class="line"></div>
                    <p>TTHE NEMECHEK PROTOCOL FOR AUTISM AND DEVELOPMENTAL DISORDERS: A How-To Guide For Restoring Neurological Function is a wonderful book that opened my eyes to a world biomedical diets as a way to help with functioning and development.
                        The book breaks down in depth what causes some of the developemntal delays including ASD in children.Here is a link to the support group on facebook for the Nemechek Protocol as well.
                        <br>
                        <a href="https://m.facebook.com/NemechekProtocol/" class="link"> <i class="flaticon-facebook"></i>NemechekProtocolGroup</a>
                        <br><br></p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-resouces-box">
                    <h3>Vests</h3>
                    <span class="sub-title d-block">Compression Vest for Autism</span>
                    <img src="assets\img\resouces-img3.png">
                    <a href="https://www.amazon.com/Weighted-Compression-Vest-Children-Harkla/dp/B07MTHCG5W/ref=sr_1_12?dchild=1&keywords=weighted+vest+for+kids&qid=1620108393&sr=8-12" class="link">Weighted Vest for Kids with Sensory Issues and ASD</a>
                    <div class="line"></div>
                    <p>At first the thought of putting a weighted vest on my son was a bit weird and confining to me but once I did I saw a great difference in his behavior. Weighted vests helps with calming input For sensory processing which children with
                        ASD have issues with and it's perfect for those seeking deep pressure sensory stimuli and it helps children feel secure and focused. Weighted blankets do the same but my little guy doesn't keep his blanket on, so the vest will
                        do.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/shape1.png" alt="image"></div>
</section>