<section class="facts-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Some Facts about ASD</span>
            <h2>Autism Spectrum Disorder is a serious of developmental disorder that impairs the ability to communicate and interact </h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-facts-box">
                    <h3><span class="odometer" data-count="49">00</span>%</h3>
                    <span class="sub-title d-block">Wander off</span>
                    <br>
                    <div class="line"></div>
                    <p>49% of children with autism wander from supervised,safe places </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-facts-box">
                    <h3><span class="odometer" data-count="40">00</span>%</h3>
                    <span class="sub-title d-block"> Are Non-Verbal</span>
                    <br>
                    <br>
                    <div class="line"></div>
                    <p>40% of children with autism are non-speaking.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-facts-box">
                    <h3><span class="odometer" data-count="38">00</span>%</h3>
                    <span class="sub-title d-block">Suffer From Seizures </span>
                    <br>
                    <br>
                    <div class="line"></div>
                    <p>38% of children with autism have seizures.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="assets/img/heartshape3.jpg" alt="image"></div>
</section>