<section id="blog" class="blog-area pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">From The Blog</span>
            <h2>Some insights on our Journey with Autism</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog/img1.png" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <a routerLink="/">Health and Mental Health</a>
                                <a routerLink="/">Lifestyle</a>
                            </li>
                            <li>4 min read</li>
                        </ul>
                        <h3><a routerLink="/blog-details">How to Noticed Early Signs of Autism in Infants</a></h3>
                    </div>
                </div>
            </div>



            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="assets/img/blog/img5.jpg" alt="image">
                        </a>
                    </div>

                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <a routerLink="/">Health and Diet</a>
                                <a routerLink="/">Lifestyle</a>
                            </li>
                            <li>6 min read</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Toddler's Are Hard Enough To Feed, Especially When They Are On The Autism Spectrum</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
