<div class="page-title-area"></div>

<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="blog-details-header">
                    <h3>How to Noticed Early Signs of Autism in Infants</h3>

                    <div class="entry-meta">
                        <ul>
                            <li>
                                <i class='flaticon-folder'></i>
                                <span>Category:</span>
                                <a href="#">Mental Health and Life Style</a>
                            </li>
                            <li>
                                <i class='flaticon-crowd'></i>
                                <span>Posted By:</span>
                                <a href="#">Denisse Rivera</a>
                            </li>
                            <li>
                                <i class='flaticon-calendar'></i>
                                <span>Posted On:</span>
                                <a href="#">05/04/2021</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="blog-details-desc">
                    <div class="article-content">
                        <p>How to noticed signs of Autism Spectrum Disorder in your Infant Child.</p>

                        <p>When my son was only 7 months old, I started to noticed some unusal behaviors in him that I haven't seen before in other babies his age. Although, it is true no two babies are alike most infants all have similar behaviors at that
                            age and similar milestones that they all accomplish at 7 months old. But my son wasn't meeting alot of his milestones and then his behavior just seemed a bit odd to me. So, how do you know if it's early signs of ASD or some
                            other form of development delays? Here are some signs and behaviors to look out for and don't hesitate to bring it up to your childs predistrician either. I didn't and I am happy I didn't because I was able to get my son the
                            services and therapies he needed at an early age. </p>

                        <ul class="wp-block-gallery columns-3">
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img3.jpg" alt="image">
                                </figure>
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img2.jpg" alt="image">
                                </figure>
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img4.jpg" alt="image">
                                </figure>
                            </li>
                        </ul>

                        <blockquote class="wp-block-quote">
                            <h2>Recommended developmental screenings The American Academy of Pediatrics recommends that all infants have developmental screenings at their 9-, 18-, and 30-month doctor visits, plus autism-specific screenings at 18- and 24-month
                                visits.
                            </h2>

                            <cite>Healthline</cite>
                        </blockquote>

                        <p>Autism doesn’t change a baby’s physical appearance. The condition does affect how babies communicate and how they relate to the world around them. Autism is described as a “spectrum” condition because signs, symptoms, and abilities
                            can vary widely. If you notice any of these developmental differences, it’s important to talk with your child’s doctor or healthcare professional about them.</p>

                        <h3>What are the signs of autism in babies?</h3>

                        <ul class="features-list">
                            <li><strong>Declining eye contact:</strong> Babies typically make eye contactTrusted Source with other people from a very young age. By 2 months, infants can typically locate faces and make eye contact skillfully. Eye contact later
                                becomes a way of building social relationships and gaining information about their surroundings. ResearchersTrusted Source have found that babies who develop autism spectrum disorder (ASD) begin making less eye contact
                                at around 2 monthsTrusted Source of age. The decline in eye contact may be an early indicator of autism.</li>
                            <li><strong>Little pointing or gesturing:</strong> Babies usually learn to gesture before they learn to talk. In fact, gesturing is one of the earliest forms of communication. Autistic children generally point and gesture much
                                lessTrusted Source than children with nonautistic development. Less pointing can sometimes indicate the possibility of a language delay. Another indicator of a developmental difference is when an infant’s gaze doesn’t follow
                                you when you’re pointing at something. This skill is sometimes called “joint attention.” Joint attention is often decreased in autistic children.</li>
                            <li><strong>Limited or no response to their name:</strong> At 6 monthsTrusted Source, most infants show an awareness of their own names, especially when it’s spoken by their mother. Autistic infants show a developmental difference:
                                By 9 months, many babies who later develop ASD don’t orient to their own names. ResearchersTrusted Source say this usually appears as a pattern of nonresponse, rather than a single instance</li>
                            <li><strong>Reduced emotion in facial expressions:</strong> Babies and toddlers start talking at different ages. ResearchTrusted Source shows that young autistic children often say and understand fewer words than children with
                                nonautistic development at 12 months. If a child isn’t saying single words by 16 months or isn’t using two-word phrases by age 2, it’s a good idea to talk with a pediatrician. The National Institutes on Deafness and Other
                                Communication Disorders says language development could be “uneven,” with exceptional language development in some areas and impairment in other areas.</li>
                        </ul>

                        <h3>What causes autism?</h3>
                        <p>genetics exposure to certain environmental toxins, such as traffic-generated air pollution or pesticides chromosomal conditions, such as tuberous sclerosis or fragile X syndrome certain medications taken during pregnancy, such
                            as thalidomide, valproic acid being born to older parents low birth weight loss of oxygen during birth mothers with diabetes, obesity, or certain immune disorders immune disorders, metabolic conditions, and brain connectivity
                            differences Research into the causes is ongoing. Repeated studiesTrusted Source have shown that vaccines (immunizations) do not cause autism.</p>
                    </div>

                    <div class="article-footer">
                        <div class="article-tags">
                            <span><i class='flaticon-folder'></i></span>

                            <a href="#">Mental Health</a>,
                            <a href="#">Lifestyle</a>,
                            <a href="#">Parenting Advice</a>
                        </div>

                        <div class="article-share">
                            <ul class="social">
                                <li><span>Share:</span></li>
                                <li><a href="#" class="facebook" target="_blank"><i class='flaticon-facebook'></i></a></li>
                                <li><a href="#" class="twitter" target="_blank"><i class='flaticon-twitter'></i></a></li>
                                <li><a href="#" class="linkedin" target="_blank"><i class='flaticon-linkedin'></i></a></li>
                                <li><a href="#" class="instagram" target="_blank"><i class='flaticon-instagram'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="recall-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="#">
                                    <span class="image-prev">
                                        <img src="assets/img/blog/img1.jpg" alt="image">
                                        <span class="post-nav-title">Prev</span>
                                    </span>
                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title"></span>
                                    <span class="meta-wrapper">
                                            <span class="date-post"></span>
                                    </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="#">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Toddler's Are Hard Enough To Feed, Especially When They Are On The Autism Spectrum<</span>
                                    <span class="meta-wrapper">
                                            <span class="date-post">May 1st, 2021</span>
                                    </span>
                                    </span>
                                    <span class="image-next">
                                        <img src="assets/img/blog/img5.jpg" alt="image">
                                        <span class="post-nav-title">Next</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h3 class="comments-title">2 Comments:</h3>

                        <ol class="comment-list">
                            <li class="comment">
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="assets/img/user1.jpg" class="avatar" alt="image">
                                            <b class="fn">John Jones</b>
                                            <span class="says">says:</span>
                                        </div>

                                        <div class="comment-metadata">
                                            <a href="#">
                                                <span>April 24, 2021 at 10:59 am</span>
                                            </a>
                                        </div>
                                    </footer>

                                    <div class="comment-content">
                                        <p>Test text.</p>
                                    </div>

                                    <div class="reply">
                                        <a href="#" class="comment-reply-link">Reply</a>
                                    </div>
                                </article>

                                <ol class="children">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="assets/img/user2.jpg" class="avatar" alt="image">
                                                    <b class="fn">Steven Smith</b>
                                                    <span class="says">says:</span>
                                                </div>

                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <span>April 24, 2021at 10:59 am</span>
                                                    </a>
                                                </div>
                                            </footer>

                                            <div class="comment-content">
                                                <p>Test text.</p>
                                            </div>

                                            <div class="reply">
                                                <a href="#" class="comment-reply-link">Reply</a>
                                            </div>
                                        </article>

                                        <ol class="children">
                                            <li class="comment">
                                                <article class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img src="assets/img/user3.jpg" class="avatar" alt="image">
                                                            <b class="fn">Sarah Taylor</b>
                                                            <span class="says">says:</span>
                                                        </div>

                                                        <div class="comment-metadata">
                                                            <a href="#">
                                                                <span>April 24, 2021 at 10:59 am</span>
                                                            </a>
                                                        </div>
                                                    </footer>

                                                    <div class="comment-content">
                                                        <p>Test text.</p>
                                                    </div>

                                                    <div class="reply">
                                                        <a href="#" class="comment-reply-link">Reply</a>
                                                    </div>
                                                </article>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>

                            <li class="comment">
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="assets/img/user4.jpg" class="avatar" alt="image">
                                            <b class="fn">John Doe</b>
                                            <span class="says">says:</span>
                                        </div>

                                        <div class="comment-metadata">
                                            <a href="#">
                                                <span>April 24, 2021 at 10:59 am</span>
                                            </a>
                                        </div>
                                    </footer>

                                    <div class="comment-content">
                                        <p>Test text</p>
                                    </div>

                                    <div class="reply">
                                        <a href="#" class="comment-reply-link">Reply</a>
                                    </div>
                                </article>

                                <ol class="children">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="assets/img/user1.jpg" class="avatar" alt="image">
                                                    <b class="fn">James Anderson</b>
                                                    <span class="says">says:</span>
                                                </div>

                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <span>April 24, 2021 at 10:59 am</span>
                                                    </a>
                                                </div>
                                            </footer>

                                            <div class="comment-content">
                                                <p>Test Text</p>
                                            </div>

                                            <div class="reply">
                                                <a href="#" class="comment-reply-link">Reply</a>
                                            </div>
                                        </article>
                                    </li>
                                </ol>
                            </li>
                        </ol>

                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Leave a Reply</h3>

                            <form class="comment-form">
                                <p class="comment-notes">
                                    <span id="email-notes">Your email address will not be published.</span> Required fields are marked
                                    <span class="required">*</span>
                                </p>
                                <p class="comment-form-author">
                                    <label>Name <span class="required">*</span></label>
                                    <input type="text" id="author" placeholder="Your Name*" name="author" required="required">
                                </p>
                                <p class="comment-form-email">
                                    <label>Email <span class="required">*</span></label>
                                    <input type="email" id="email" placeholder="Your Email*" name="email" required="required">
                                </p>
                                <p class="comment-form-url">
                                    <label>Website</label>
                                    <input type="url" id="url" placeholder="Website" name="url">
                                </p>
                                <p class="comment-form-comment">
                                    <label>Comment</label>
                                    <textarea name="comment" id="comment" cols="45" placeholder="Your Comment..." rows="5" maxlength="65525" required="required"></textarea>
                                </p>
                                <p class="comment-form-cookies-consent">
                                    <input type="checkbox" value="yes" name="wp-comment-cookies-consent" id="wp-comment-cookies-consent">
                                    <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                </p>
                                <p class="form-submit">
                                    <input type="submit" name="submit" id="submit" class="submit" value="Post A Comment">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-subscribe></app-subscribe>
