<div id="home" class="main-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="main-banner-content">
                    <h1>Meet <br>Jackson</h1>
                    <p>Jackson is my sweet little boy, who was diagnosed with Austim Secptrum Disorder when he was only 1 and 1/2 years old. Jackson is now 4 and we are here to share our expericene and jounrey with the world of ASD.</p>

                    <form>
                        <input type="text" class="input-newsletter" placeholder="Enter your email address">
                        <button type="submit">Join us now on our Jounrey</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="main-banner-image">
                    <img src="assets/img/banner-img2.gif" data-speed="0.02" data-revert="true" class="main-image wow fadeInUp" alt="image">

                    <div class="banner-shape" data-speed="0.02" data-revert="true">
                        <img src="assets/img/line-bg1.png" class="wow fadeInLeft" alt="image">
                        <img src="assets/img/line-bg2.png" class="wow fadeInRight" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
